In [12]:
dataset=[['Milk'],['Ramen'],['Rice'],['Kimchi'],['cola'],['Bear'],['Cookie'],['Snack'],['Bread'],['Jam'],['Ham'],['cheese']]

In [13]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [14]:
dataset = [['Milk', 'Snack', 'Bread', 'Jam'],
['Coke','Ramen', 'Rice', 'Kimchi','cheese'], 
['cola', 'Bear', 'Cookie', 'Snack', 'Bread'],
['Milk', 'Bread', 'Jam', 'Ham', 'cheese','cola' ],
['Ramen', 'cola', 'Cookie', 'Snack', 'Ham', 'Bear', 'Kimchi']]

In [15]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Bear,Bread,Coke,Cookie,Ham,Jam,Kimchi,Milk,Ramen,Rice,Snack,cheese,cola
0,False,True,False,False,False,True,False,True,False,False,True,False,False
1,False,False,True,False,False,False,True,False,True,True,False,True,False
2,True,True,False,True,False,False,False,False,False,False,True,False,True
3,False,True,False,False,True,True,False,True,False,False,False,True,True
4,True,False,False,True,True,False,True,False,True,False,True,False,True

In [23]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)

# 지지도를 기준으로 내림차순
frequent_itemsets
frequent_itemsets.sort_values('support',ascending=False)

    support                     itemsets
8       0.6                      (Snack)
10      0.6                       (cola)
1       0.6                      (Bread)
0       0.4                       (Bear)
17      0.4                (Bread, cola)
28      0.4        (cola, Cookie, Snack)
27      0.4           (Milk, Bread, Jam)
26      0.4          (cola, Bear, Snack)
25      0.4         (cola, Bear, Cookie)
24      0.4        (Bear, Cookie, Snack)
23      0.4                (cola, Snack)
22      0.4              (Ramen, Kimchi)
21      0.4                  (Milk, Jam)
20      0.4                  (Ham, cola)
19      0.4               (cola, Cookie)
18      0.4              (Cookie, Snack)
15      0.4                (Milk, Bread)
16      0.4               (Bread, Snack)
14      0.4                 (Bread, Jam)
13      0.4                 (cola, Bear)
12      0.4                (Bear, Snack)
11      0.4               (Bear, Cookie)
9       0.4                     (cheese)
7       0.4                      (Ramen)
6       0.4                       (Milk)
5       0.4                     (Kimchi)
4       0.4                        (Jam)
3       0.4                        (Ham)
2       0.4                     (Cookie)
29      0.4  (cola, Bear, Cookie, Snack)

In [24]:
rules1=association_rules(frequent_itemsets, metric='lift', min_threshold=0.2)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bear),(Cookie),0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
1,(Cookie),(Bear),0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
2,(Bear),(Snack),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
3,(Snack),(Bear),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
4,(cola),(Bear),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
...,...,...,...,...,...,...,...,...,...,...
65,"(Cookie, Snack)","(cola, Bear)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
66,(cola),"(Bear, Cookie, Snack)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
67,(Bear),"(cola, Cookie, Snack)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
68,(Cookie),"(cola, Bear, Snack)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
69,(Snack),"(cola, Bear, Cookie)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000

In [25]:
# 향상도가 1.2이상인 패턴을 발견
rules2 = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1.2)
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bear),(Cookie),0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
1,(Cookie),(Bear),0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
2,(Bear),(Snack),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
3,(Snack),(Bear),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
4,(cola),(Bear),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
...,...,...,...,...,...,...,...,...,...,...
59,"(Cookie, Snack)","(cola, Bear)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
60,(cola),"(Bear, Cookie, Snack)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
61,(Bear),"(cola, Cookie, Snack)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
62,(Cookie),"(cola, Bear, Snack)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
63,(Snack),"(cola, Bear, Cookie)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000

In [26]:
#itemsets의 제품 개수에 따른 필터링을 위해 length열을 추가
#결과를 frequent_itemsets라는 이름으로 생성
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x:len(x))
frequent_itemsets

   support itemsets  length
0      0.6  (Bread)       1
1      0.6  (Snack)       1
2      0.6   (cola)       1

In [27]:
# frequent_itemsets에서 특정 조건을 만족시키는 행들을 선택
frequent_itemsets1 = frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.6)]
frequent_itemsets1

Empty DataFrame
Columns: [support, itemsets, length]
Index: []